<article class="post">
  <div class="title">
    <a href="/movie/{{movie.id}}"><h8>{{movie.title}}</h8></a>
  </div>

  <div>
    <img src="{{movie.poster}}" alt="" />
  </div>

  {{#times movie_rating}}
    <i class="rating__star fas fa-star"></i>
  {{/times}}

  <div class="post-text">
    <p>{{comment_text}}</p>
  </div>

  <div class="meta">
    Watched by @{{user.username}}
    on
    {{format_date created_at}}
  </div>

</article>