<article class="post">
      <div class="title">
        <a href="/posts/{{id}}"><h8>{{title}}</h8></a>
      </div>

      <div class="rating" name="rating">Rated:
        
      </div>

      <div class="post-text">
        <p>{{post_text}}</p>
      </div>

      <div class="meta">
        Watched by @{{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
      
    </article>