<div class="col-md-4">
  <div class="movie-card"><img
      src="{{movie.poster}}"
      class="img img-responsive"
    />
    <div class="movie-title">{{movie.title}}</div>
    <div class="movie-position"><a>{{#times movie_rating}}
          <i class="fas fa-star"></i>
        {{/times}}</a>
      <p>{{shortened_comment comment_text}}</p></div>
    <div class="movie-overview">
      <div class="movie-overview">
        <div class="row text-center">
          <div class="col-xs-4">
            <h3><a href="/users/{{user.username}}">@{{user.username}}</a></h3>
          </div>
          <div class="col-xs-4">
            <h3><a href="/movie/{{id}}">See More Reviews</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>