<h2 class="text-center display-4">{{movie.title}}</h2>

<div
  class="jumbotron"
  style="background: url({{movie.poster}}) no-repeat fixed center;"
>

</div>

{{!-- <div class="container">
  {{#if loggedIn}}
    <ol>
      {{#each movie.comments as |comment|}}
        <blockquote
          class="blockquote blockquote-custom bg-white p-5 shadow rounded my-2"
        >
          <div class="blockquote-custom-icon bg-info shadow-sm">{{#times
              comment.movie_rating
            }}
              <i class="rating__star fas fa-star"></i>
            {{/times}}</div>
          <p class="mb-0 mt-2 font-italic">"{{comment.comment_text}}"
            <a href="#" class="text-info">@{{comment.user.username}}</a>.</p>
        </blockquote>
      {{/each}}
    </ol>
  {{/if}}
</div> --}}
{{#if loggedIn}}
  <div class="reviews">
    {{#each movie.comments as |comment|}}
      <div class="row blockquote review-item rounded">
        <div class="col-md-3 text-center">
          <img
            class="rounded-circle reviewer"
            src="http://standaloneinstaller.com/upload/avatar.png"
          />
          <div class="caption">
            <small>by <a href="#joe">@{{comment.user.username}}</a></small>
          </div>

        </div>
        <div class="col-md-9">
          <div class="ratebox text-center" data-id="0" data-rating="5">{{#times
              comment.movie_rating
            }}
              <i class="rating__star fas fa-star"></i>
            {{/times}}</div>
          <p class="review-text">{{comment.comment_text}}</p>

          <small class="review-date">{{format_date comment.created_at}}</small>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}