<h2 class="text-center display-4">{{movie.title}}</h2>

<div class="d-flex justify-content-center">
  <img src="{{movie.poster}}" class="w-25 h-30 mb-2"/>
</div>

{{#if loggedIn}}
  
    {{#each movie.comments as |comment|}}
    <div class="reviews mt-3">
    <div class="d-flex inline justify-content-between">

      <p><a href="/users/{{comment.user.username}}">@{{comment.user.username}}</a></p>

      <div class="ratebox text-center">
      {{#times comment.movie_rating}}
        <i class="rating__star fas fa-star"></i>
      {{/times}}
      </div>

      <p class="d-flex justify-content-end review-text">{{format_date comment.created_at}}</p>
  
    </div>
    
    <p class="review-text p-4">{{comment.comment_text}}</p>
</div>

    {{/each}} 
  
{{/if}}