<div class="d-flex flex-column">
  {{#each users as |user|}}
    <h2>@{{username}}</h2>
    {{#if comments.length}}
      <div class="userCardContainer w-100">
        {{#each comments as |comment|}}
          <div
            class="userCard"
            style="background-image: url('{{movie.poster}}')"
          >
            <h3 class="title">{{movie.title}}</h3>
            <div class="inner-text">
              <a>{{#times movie_rating}}
                  <i class="fas fa-star"></i>
                {{/times}}</a>
              
              {{!-- <p>{{movie_rating}}/5</p> --}}
              {{!-- <hr /> --}}
              {{!-- <p class="">{{shortened_comment comment_text}}</p> --}}
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <a href="/movie/{{movie_id}}">Check out all reviews</a><br />
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <h3>This user has not reviewed anything yet.</h3>
      <h5>Guess they are just here to see what you are doing...?</h5>
    {{/if}}
  {{/each}}
</div>